.footer {
    width: 100%;
    min-height: 150px;
    background: #E0E5E8;
    margin-top: $gridGap;
    padding: $gridGap;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    flex-grow: 1;

    &__text {
        color: $text-accent-color;
        font-size: 16px;
    }
}
