// SCSS Variables //
$base-color: #93278F; // Header color
$accent-color: #662D91; // Menu and Button Color
$accent-color-hover: #4D226D; // Menu Hover
$validation-color: #FF1D25; // Alert Color

$text-light-color: #F9F9F9; // Text on Dark Background
$text-accent-color: #778F9B; // Input Labels and Footer accent text
$text-standard-color: #445963; // Standard Text Color

$text-family: 'Roboto Condensed', sans-serif; // Page Font Family

$gridGap: 24px; // Used for keeping consistent spacing/padding
