@import "reset";
@import "variables";
@import "nav";
@import "main";
@import "footer";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-width: 250px;
    margin: 0 auto;
    background: #333;
    font-family: $text-family;
}

.content {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #EBEEF0;
    display: flex;
    flex-flow: column nowrap;
}
